extends ../layout
block append-header
  link(rel="stylesheet", href="/stylesheets/style.css")
block content
  section.jumbotron.text-center
    .container      
      p.lead.text-muted(style="margin-bottom:0px;")
        | Facebook 캠페인 조회
        
      //- .row.mx-auto
          a#blockBtn.btn.btn-primary.my-2(href='#') Block UI
          sapn 
            | &nbsp;
          .form-group
            input#date.form-control(type='text', name='date', placeholder='2019-03-14') 
  .album.py-5
    //- .container
    div(style="margin-left:10px; margin-right:10px;")
        - let loginState=login
        if loginState
            //- .row
            h3 어드민
            table.table.table-bordered.mb-4.text-center
                thead.thead-dark
                    tr
                    th(scope="col") 상품명
                    th(scope="col") 캠페인ID
                    th(scope="col") 캠페인
                    th(scope="col") 카테고리
                    th(scope="col") 컨텐츠속성
                    th(scope="col") 테스트변수
                    th(scope="col") 채널
                    th(scope="col") 매체코드
                tbody
                    each campaign in campaigns                        
                        - var varCnt = campaign.testVar.length                        
                        tr(rol="row")
                            td.align-middle(rowspan=varCnt)=campaign.prdCd            
                            td.align-middle(rowspan=varCnt)
                                a.linkCampaign(href='#')=campaign.campaignId            
                            td.align-middle(rowspan=varCnt)=campaign.campaignNm
                            td.align-middle(rowspan=varCnt)=campaign.categoryNm            
                            td.align-middle(rowspan=varCnt)=campaign.contentsAttr
                            if varCnt > 1
                                each item,index in campaign.testVar
                                    if index == 0
                                        td.align-middle(rowspan=1)=item.var
                                        td.align-middle(rowspan=varCnt)=campaign.channel
                                        td.align-middle(rowspan=varCnt)=campaign.mediatype
                                    else
                                        tr
                                            td(rowspan=1)=item.var
                            else
                                td.align-middle(rowspan=varCnt)=campaign.testVar[0].var
                                td.align-middle(rowspan=varCnt)=campaign.channel
                                td.align-middle(rowspan=varCnt)=campaign.mediatype
            //- .row.details
            h3 상세 대시보드
            table.table.table-bordered.tbl_detail
                thead.thead-dark
                    tr
                        th(scope="col", rowspan="2") 컨텐츠 속성
                        th(scope="col", rowspan="2") 카테고리
                        th(scope="col", rowspan="2") 상품명
                        th(scope="col", rowspan="2") 테스트변수
                        th(scope="col", rowspan="2") 채널
                        th(scope="col", rowspan="2") 소재
                        th(scope="col", rowspan="2") 결과
                        th(scope="col", rowspan="2") 변수유효성
                        th(scope="col", rowspan="2") 시작
                        th(scope="col", rowspan="2") 종료
                        th(scope="col", rowspan="2") 타겟
                        th(scope="col", rowspan="2") KPI
                        th(scope="col", rowspan="2") 노출
                        th(scope="col", rowspan="2") 링크클릭
                        th(scope="col", rowspan="2") CPC(링크클릭당 비용)
                        th(scope="col", rowspan="2") UV
                        th(scope="col", rowspan="2") CPUV
                        th.text-center(scope="col", rowspan="1", colspan="5") 고객 인게이지먼트
                        tr(rol="row")
                            th(scope="col", rowspan="1", colspan="1") 인터렉션
                            th(scope="col", rowspan="1", colspan="1") 조회수
                            th(scope="col", rowspan="1", colspan="1") 평균시청시간
                            th(scope="col", rowspan="1", colspan="1") 3초+ 조회
                            th(scope="col", rowspan="1", colspan="1") 시청추이
                tbody
                    tr
                        td.text-muted.text-center.align-middle(colspan="22") 
                            h5(style="margin-bottom:0px;") 어드민에서 캠페인을 선택하세요                    
        else
            h3.text-muted 로그인 후 조회 가능합니다.    
block append-script
    script(src="/javascripts/main.js")
    script. 
        $(() => {
        jqueryDatepicker($);
        $('#date').datepicker({ dateFormat: 'yy-mm-dd' });
        $("#blockBtn").on('click', () => {
            $.blockUI();
            setTimeout(()=> {$.unblockUI();}, 2000);
        });
        });